body {
    background-color: hsl(217, 54%, 11%);
}

h5 {
    color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
    font-weight: 600;

}

p {
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
}

/* card container */
.card {
    background-color: hsl(216, 50%, 16%);
}

/* price and duration */

.price {
    color: hsl(178, 100%, 50%);
    text-decoration: none;
}